.wrapper {
    width: 100%;
    height: 10dvh;
    box-shadow: 0 3px 3px rgba(125, 125, 125, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

    .list {
        display: flex;
        list-style: none;
        gap: 2vw;
    }
}


